<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css"><!-- custom bootstrap theme css, for reference: https://bootswatch.com/sketchy/ -->
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Virtual Artist - A Style Transfer Web App</title>

</head>
<body>

    <div class="header">
        <h1>Virtual AI Artist</h1>
        <h3>A Machine Learning Style Transfer Web App</h3>
    </div>
      
    <div class="container-fluid">

        <div class="navbar">
          <a href="/">Home</a>
          <a href="/result">Form</a>
          <a href="/gallery">Result</a>
          <a href="/style" class="active">About Style Transfer</a>
        </div>
          
          <div class="row">
            <div class="side">
              <!-- About our team -->
              <h2>The Majority + Minority</h2>
              <h5>Team Artists</h5>
              <div style="width:100px"><img src="static/content_images/billy-1.png" alt="">
              <img src="static/content_images/cameron-1.png" alt=""></div>
              
              <div class="fakeimg" style="height:200px;">Image</div>
                      
              
              
              <p>reference image for style training</p>
              <h3>Trained Model: VGG19</h3>
              <p>apply the style above.</p>
              <div class="fakeimg" style="height:60px;">Style Image1</div><br>
              <div class="fakeimg" style="height:60px;">Style Image2</div><br>
              <div class="fakeimg" style="height:60px;">Style Image3</div>
            </div>
            <div class="main">
              <!-- Main Section -->
              <h2>A Bit of History</h2>
              <h5>From Metaphycis, to the Dark Ages of AI, Back to Aristotle</h5>
              
                <ul style='list-style-type: none'>
                  <li>AI had a deep root in math, also in philosophy - metaphycis and materialism<br>
                    <img src="static/content_images/hist1.png" alt=""></li><br>
                  
                  <li>Golden age of AI - 1950s-1960s - science, aerospace, fundings and business interests</li>
                  <ul style="list-style-type: none">
                      <li>
                        <img src="static/content_images/hist2.png" alt="" style="max-width: 50%">
                        1957 Rosenblatt - first neuron network - the perceptron<br>
                      </li>
                      <li>Binary classifier - weight / biases + input => result (1 or 0)</li>
                      <li><img src="static/content_images/hist3.png" alt="">Gredient Decent Function</li><br><br>
                      <li><img src="static/content_images/hist4.png" style="max-width: 50%" alt="">Step Chart to Sigmoid Function</li><br>
                  </ul>
                  <br>
                  <li><img src="static/content_images/hist5.png" alt="">
                    XOR Challenge</li><br>

                    
                  <li><br>
                    The Neuclear Winter has came - the dark ages 1970s - 1980s (2nd winter in early 90s)<br><img src="static/content_images/nuke1.jpg" style="max-width: 50%" alt=""></li>
                  <li>Reduced funding, lost interests from government and businesses</li>
                  <li>Job reduction, no major breakthroughs, AA meetings</li>
                  <li>Cybenko's Theorem 1989 - Universal Approximation Theorem - </li>
                  <li>feed forward network with a single hidden layer with finite number of neurons can approximate continuous function on the compact subset of R^n  - assumptions: activation function (such as ReLU) and </li>
                  <br>
                  <br>

                  <li><img src="static/content_images/ai-spending.jpg" alt=""><br>Late craze of ML from mid 2000s till now</li><br><br>

                  <li><img src="static/content_images/aristotle.jpg" style="max-width: 50%" alt=""><br>
                    Back to Aristotle - it's all his fault - binary world</li>

                </ul><br>

         
              
              <!-- Cameron Section -->
              <h3>Cameron's Explanation</h3>
              <iframe width="100%" height="650" src="https://prezi.com/view/946uflPEO0fCjWXPGsPE/embed" webkitallowfullscreen="1" mozallowfullscreen="1" allowfullscreen="1"></iframe>
              
              <!-- <div class="fakeimg" style="height:200px;">Image</div>
              <p>Process:</p>
              <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
              <br>
              <h2>Result Image</h2>
              <h5>After training the result showed this</h5>
              <div class="fakeimg" style="height:200px;">Image</div>
              <p>Some text..</p>
              <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
            </div> -->
          </div>

    </div>  
      
    <div class="footer">
      <h4>&copy;2019 - The Minority Majority Team</h4>
      <p>Credit and Sighitings: reference to sites and github repos</p>
    </div>  

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</body>
</html>